
    <!-- <ion-item *ngFor="let entry of home_furniture" >
      <ion-select  >
        <ion-select-option>{{entry.val}}</ion-select-option>
      </ion-select>
      <ion-input slot="end">{{entry.isChecked}}</ion-input>
      <ion-input slot="end">{{entry.isChecked}}</ion-input>
    </ion-item>
  </ion-list>  -->
<ion-header>
  <ion-toolbar>
    <ion-title>donation</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <!-- <ion-label color="primary" floating>معلومات الذكور والإناث التابعين</ion-label> -->
  <ion-item *ngFor="let entry of item_qty">
    <form #form="ngForm" (ngSubmit)="furniture(form)" method="post">
      <ion-item>
        <ion-label color="primary" floating>الاثاث المنزلي</ion-label>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='type' placeholder="النوع"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='number' placeholder="العدد "></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حفظ 
        </ion-button>
        <ion-button (click)="add()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          إضافة 
        </ion-button>
      <div *ngIf="entry != 1">
        <ion-button (click)="remove()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حذف 
        </ion-button>
      </div>
      </ion-item>
    </form>
  </ion-item>
  
  <ion-item *ngFor="let entry of item_qty">
    <form #form="ngForm" (ngSubmit)="clothes(form)" method="post">
      <ion-item>
        <ion-label color="primary" floating>ملابس</ion-label>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='type' placeholder="النوع"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='number' placeholder="العدد "></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حفظ 
        </ion-button>
        <ion-button (click)="add()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          إضافة 
        </ion-button>
      <div *ngIf="entry != 1">
        <ion-button (click)="remove()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حذف 
        </ion-button>
      </div>
      </ion-item>
    </form>
  </ion-item>
  <ion-item *ngFor="let entry of item_qty">
    <form #form="ngForm" (ngSubmit)="dishes(form)" method="post">
      <ion-item>
        <ion-label color="primary" floating>الأواني المنزلية</ion-label>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='type' placeholder="النوع"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='number' placeholder="العدد "></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حفظ 
        </ion-button>
        <ion-button (click)="add()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          إضافة 
        </ion-button>
      <div *ngIf="entry != 1">
        <ion-button (click)="remove()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حذف 
        </ion-button>
      </div>
      </ion-item>
    </form>
  </ion-item>
  <ion-item *ngFor="let entry of item_qty">
    <form #form="ngForm" (ngSubmit)="electrical_tools(form)" method="post">
      <ion-item>
        <ion-label color="primary" floating>الأدوات الكهربائية</ion-label>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='type' placeholder="النوع"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='number' placeholder="العدد "></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حفظ 
        </ion-button>
        <ion-button (click)="add()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          إضافة 
        </ion-button>
      <div *ngIf="entry != 1">  
        <ion-button (click)="remove()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حذف 
        </ion-button>
      </div>
      </ion-item>
    </form>
  </ion-item>
  <ion-item *ngFor="let entry of item_qty">
    <form #form="ngForm" (ngSubmit)="baby_things(form)" method="post">
      <ion-item>
        <ion-label color="primary" floating> مستلزمات الأطفال </ion-label>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='type' placeholder="النوع"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='number' placeholder="العدد "></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حفظ 
        </ion-button>
        <ion-button (click)="add()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          إضافة 
        </ion-button>
      <div *ngIf="entry != 1">
        <ion-button (click)="remove()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حذف 
        </ion-button>
      </div>
      </ion-item>
    </form>
  </ion-item>
  <ion-item *ngFor="let entry of item_qty">
    <form #form="ngForm" (ngSubmit)="luxuries(form)" method="post">
      <ion-item>
        <ion-label color="primary" floating> الكماليات </ion-label>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='type' placeholder="النوع"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='number' placehol der="العدد "></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حفظ 
        </ion-button>
        <ion-button (click)="add()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          إضافة 
        </ion-button>
      <div *ngIf="entry != 1">
        <ion-button (click)="remove()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حذف 
        </ion-button>
      </div>
      </ion-item>
    </form>
  </ion-item>
  
  <ion-item *ngFor="let entry of item_qty">
    <form #form="ngForm" (ngSubmit)="accessories_and_mobiles(form)" method="post">
      <ion-item>
        <ion-label color="primary" floating> إكسسوارات نسائيه وجوالات </ion-label>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='type' placeholder="النوع"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='number' placeholder="العدد "></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حفظ 
        </ion-button>
        <ion-button (click)="add()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          إضافة 
        </ion-button>
      <div *ngIf="entry != 1">
        <ion-button (click)="remove()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حذف 
        </ion-button>
      </div>
      </ion-item>
    </form>
  </ion-item>
  <ion-item *ngFor="let entry of item_qty">
    <form #form="ngForm" (ngSubmit)="medical_devices(form)" method="post">
      <ion-item>
        <ion-label color="primary" floating> أجهزة طبية </ion-label>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='type' placeholder="النوع"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='number' placeholder="العدد "></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حفظ 
        </ion-button>
        <ion-button (click)="add()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          إضافة 
        </ion-button>
      <div *ngIf="entry != 1">
        <ion-button (click)="remove()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حذف 
        </ion-button>
      </div>
      </ion-item>
    </form>
  </ion-item>
  
  <ion-item *ngFor="let entry of item_qty">
    <form #form="ngForm" (ngSubmit)="miscellaneous(form)" method="post">
      <ion-item>
        <ion-label color="primary" floating> متفرقات </ion-label>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='type' placeholder="النوع"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input ngModel name='number' placeholder="العدد "></ion-input>
      </ion-item>
      <ion-item>
        <ion-button type="submit" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حفظ 
        </ion-button>
        <ion-button (click)="add()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          إضافة 
        </ion-button>
      <div *ngIf="entry != 1">
        <ion-button (click)="remove()" mode="ios"  expand="block" color="green" class="roundedInput8px ion-margin-top" >
          حذف 
        </ion-button>
      </div>
      </ion-item>
    </form>
  </ion-item>

  
 
  <ion-button (click)="submit()" mode="ios" expand="block"  color="green" fill="outline" class="ion-margin-top" >
    ارسال
  </ion-button>
  
</ion-content>