<!-- <ion-header>
  <ion-toolbar>
    <ion-title>طلباتي</ion-title>
  </ion-toolbar>
</ion-header>
   <div *ngFor ="let tag of donations_info">  -->
    <!-- <ion-row>
      <ion-col>
<p>{{tag.furniture}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
<p>{{tag.clothes}}</p>
      </ion-col>
    </ion-row>
  </div>  -->
    <!-- <ion-item>
      <ion-reorder slot="start"></ion-reorder>
      <ion-label>
        {{tag.furniture}}
        <p>{{tag.clothes}}</p>
      </ion-label>
    </ion-item> -->
    <!-- <ion-list> -->
      <!-- <div  *ngIf ="donations_info">
        <ion-row>
          <ion-col>
    <p>{{furniture}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
    <p>{{clothes}}</p>
          </ion-col>
        </ion-row>
        
    </div> -->
   
 <!-- <div *ngIf="donations_info.clothes!=null">
  {{donations_info}}
</div> -->
<ion-content>
 <!-- <div *ngFor ="let tag of donations_info">
  <div *ngIf="!tag">
    <div>
  <ion-row>
  <ion-col>
  <p> {{tag.furniture  === 'null' ? '' :tag.furniture }}</p>
</ion-col>
</ion-row>
</div>
<div>
  <ion-row>
  <ion-col>
  <p>{{tag.electrical_tools === 'null' ? '':tag.electrical_tools}}</p>
</ion-col>
</ion-row>
</div>
<div>
<ion-row>
<ion-col>
  <p>{{tag.baby_things === 'null' ? '' : tag.baby_things}}</p> 
</ion-col>
</ion-row>
</div>
<div>
<ion-row>
<ion-col>
<p>{{tag.dishes === 'null' ? '' :tag.dishes}}</p>
</ion-col>
  </ion-row>
</div>
  <div>
  <ion-row>
  <ion-col>
 <p>{{tag.clothes === 'null' ? '' : tag.clothes}}</p> 
  </ion-col>
  </ion-row> 
  </div>
  </div> 
</div> -->
<!-- <ion-list>
<div *ngFor ="let tag of donations_info">
  <div *ngIf="tag">
  <ion-row>
  <ion-col>
  <p> {{tag.furniture  === 'null' ? '' :tag.furniture }}</p>
  </ion-col>
  </ion-row>
</div>
  <div>
  <ion-row>
  <ion-col>
 <p>{{tag.clothes === 'null' ? '' : tag.clothes}}</p> 
  </ion-col>
  </ion-row> 
  </div>
  </div>
</ion-list>
</ion-content> -->
    