<ion-header>
  <ion-toolbar>
    <ion-title dir='rtl'>معلومات التواصل</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="donation"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  >
<ion-list dir='rtl'>
  <ion-label color="primary" floating> أسم من يسلم الطلب</ion-label> </ion-list>
 <ion-item>
  <ion-input [(ngModel)]="info_connect.name"></ion-input>
</ion-item>
<ion-item>
  <ion-input  type='number' [(ngModel)]="info_connect.numberphone"></ion-input>
</ion-item>
<ion-item>
  <ion-datetime  [(ngModel)]="info_connect.birth_date" min="2021-01-01" max="2040-01-01" displayFormat="YYYY MM DD"></ion-datetime>
</ion-item>
<ion-item  >
  <ion-segment color="tertiary" [(ngModel)]="info_connect.time">
    <ion-segment-button  value='صباح'>
      <ion-label>صباح</ion-label>
      <!-- <ion-icon name="call"></ion-icon> -->
    </ion-segment-button>
    <ion-segment-button value='مساء' >
      <ion-label>مساء</ion-label>
      <!-- <ion-icon name="heart"></ion-icon> -->
    </ion-segment-button>
  </ion-segment>
 
</ion-item>
<ion-button href="/select-location" mode="ios" expand="block" color="medium" fill="outline" class="roundedInput8px ion-margin-top">
  اختيار الموقع
</ion-button>

<div class="card-footer">
  <ion-button (click)="submit()" href="home" mode="ios" expand="block" color="medium" fill="outline" class="roundedInput8px ion-margin-top button-bottom">
    إرسال
  </ion-button>
</div>

</ion-content>
