<ion-header>
  <ion-toolbar>
    <ion-title dir='rtl'>معلومات التواصل</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="donation"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid1">
    <ion-row class="row1">
        <ion-col>
        </ion-col>
    </ion-row>
    <ion-row class="row2">
        <ion-col>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-list>
  <div class="contaier-login"  [formGroup]="addmore" dir="rtl">
    <!-- Name: <ion-input formControlName="name"  placeholder="Enter Name"></ion-input> -->
    <ion-input formControlName="name"  placeholder="اسم من يسلم الطلب"></ion-input>
    <ion-input formControlName='numberphone'  placeholder="رقم جوال من يسلم الطلب"></ion-input>
    <ion-input formControlName='neighborhood_name'  placeholder="اسم الحي"></ion-input>
    <ion-input formControlName='street_name'  placeholder="اسم الشارع"></ion-input>
    <ion-input formControlName='house_number'  placeholder="رقم المنزل"></ion-input>
    <ion-input formControlName='nearest_landmark'  placeholder="أقرب معلم"></ion-input>
    <!-- <ion-input formControlName='birth_date'  placeholder="تاريخ الاستلام"></ion-input> -->
    <ion-datetime formControlName='birth_date' placeholder="تاريخ الاستلام " min="2021-01-01" max="2040-12-31" displayFormat="MM DD"></ion-datetime>
    <!-- <ion-input formControlName='time'  placeholder="وقت الاستلام"></ion-input> -->
    <ion-segment color="tertiary" formControlName="time">
      <ion-segment-button  value='صباح'>
        <ion-label>صباح</ion-label>
      </ion-segment-button>
      <ion-segment-button value='مساء' >
        <ion-label>مساء</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- <ion-button (click)="onSubmit()" [disabled]="!addmore.valid" mode="ios" expand="block" color="medium" fill="outline" class="roundedInput8px ion-margin-top button-bottom">
    إرسال
  </ion-button> -->
  <ion-button (click)="onSubmit()" [disabled]="!addmore.valid" expand="block" color="medium" fill="outline" class="roundedInput8px ion-margin-top button-bottom">إرسال</ion-button>
</ion-list>

</ion-content>  