<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <button class="color-dark-page"(click)="dismissRegister()"ion-button icon-only>
        <ion-icon name="chevron-back-outline" class="component-icon size25" > </ion-icon>
      </button>    
    </ion-buttons>
  </ion-toolbar>
</ion-header> 
<ion-content fullscreen=true>
  <ion-grid fixed class="ion-no-padding">
    <ion-row style="height: 50px"></ion-row>
    <ion-header  class="ion-no-border " collapse="condense">
    <ion-toolbar >
        <ion-title dir="rtl" class="color-dark-page" size="large" >تسجيل مستخدم جديد</ion-title>
    </ion-toolbar>
    </ion-header>
    <form #form="ngForm"(ngSubmit)="register(form)" method="post">
      <div class="login-form">
        <ion-text color="dark">
          <h2 dir="rtl" text-center class="ion-margin-bottom main-header7 color-dark-page">
            تسجيل مستخدم جديد
          </h2>
        </ion-text>
        <ion-list class="ion-margin-top ion-padding">
          <ion-item class="roundedInput8px margin-bottom-10 color-light-page">
            <ion-label >
                <ion-icon name="person-add-outline" ></ion-icon>
            </ion-label>
            <ion-input  dir="rtl" ngModel name="name" placeholder="الاسم"></ion-input>
          </ion-item>
          <ion-item class="roundedInput8px margin-bottom-10 color-light-page">
            <ion-label >
                <ion-icon name="at-outline"></ion-icon>
            </ion-label>
            <ion-input  dir="rtl" type="email" ngModel name="email"  placeholder="البريد الالكتروني"></ion-input>
          </ion-item>
          <ion-item class="roundedInput8px margin-bottom-10 color-light-page">
            <ion-label>
              <ion-icon name="eye-off-outline"></ion-icon>
            </ion-label>
            <ion-input  dir="rtl" type="password" ngModel name="password" placeholder=" كلمة المرور"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button type="submit"  mode="ios" expand="block"   fill="outline"  class="ion-margin-top" color="danger">تسجيل</ion-button>
        <ion-row style="height: 15px"></ion-row>
        <ion-text color="dark">
          <h2 text-center class="ion-margin-bottom main-header7 color-dark-page">
             لديك حساب بالفعل؟
          </h2>
        </ion-text>
        <ion-button  (click)="loginModal()" mode="ios" expand="block"  color="medium" fill="outline" class="ion-margin-top" >
          تسجيل الدخول
        </ion-button>
      </div>
    </form>
  </ion-grid>
</ion-content> -->
<ion-content>
  <ion-grid class="grid1">
    <ion-row class="row1">
        <ion-col>
        </ion-col>
    </ion-row>
    <ion-row class="row2">
        <ion-col>
        </ion-col>
    </ion-row>
</ion-grid>
<ion-slide >
  <div class="contaier-login">
    <div>
      <form #form="ngForm"(ngSubmit)="register(form)" method="post">
      <ion-grid>
<ion-row>
  <ion-col>
      <h1>تسجيل مستخدم جديد</h1>
  </ion-col>
</ion-row>
<ion-row> 
  <ion-col>
      <ion-list>
        <ion-item  dir="rtl" >
          <ion-icon name="person-outline" class="icon-login" ></ion-icon>
      <ion-input  dir="rtl" ngModel name="name" placeholder="الاسم"></ion-input>
    </ion-item>
    <br/>
          <ion-item dir="rtl">
              <ion-icon  name="at-outline" class="icon-login"></ion-icon>
              <ion-input  ngModel type="email"  name="email" required placeholder="البريدالإكتروني"></ion-input>
          </ion-item>
          <br />
          <ion-item dir="rtl">  
              <ion-icon name="eye-off-outline" class="icon-login"></ion-icon>
              <ion-input  ngModel type="password" name="password" required placeholder="كلمة المرور"></ion-input>
          </ion-item>
      </ion-list>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <ion-button type="submit"  color="medium" fill="solid" expand="full">
         تسجيل دخول
      </ion-button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
      <ion-label>
          <h3 (click)="loginModal()">لديك حساب بالعفل ؟ اضغط هنا </h3>
      </ion-label>
  </ion-col>
</ion-row>
</ion-grid></form></div>
</div>   
</ion-slide> 
</ion-content>
